.section-title{
  font-family: Inter, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0 0 70px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #dadada;
}